
.FAQcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 624px;
    border-radius: 15px;
    color: #dfdfdf;
    font-size: 17px;
    line-height: 1.5;
    background-color: #2b2222;
    margin: 20px;
    padding: 20px;

}

.addFAQ{
    background-color: #373221;
    padding: 1px 1px;
    border-radius: 5px;
    line-height: 1.5;
    width: 29px;
    height: 29px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    
}

.Links{
    padding: 1.5px 5px;
    background-color: #20202c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.Links:hover{
    padding: 1.5px 5px;
    background-color: #33333d;
    color: white;
}

.FAQcontcont{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    color: #dbe1f8;
}

.githubpath{
    background-color: #252525;
    padding: 1.5px 5px;
    letter-spacing: 2px;
}

.par{
    font-size: 17px;
    text-align:justify;
}

h1, h2{
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -10px;
}