.overlay {
   position: fixed!important;
   top: 0!important;
   left: 0!important;
   width: 100%!important;
   height: 100%!important;
   background-color: #1d1b1e!important;
   display: flex;
   justify-content: center!important;
   align-items: center!important;
   z-index: 9999!important;
   opacity: 1!important;
   animation: fadeOut 2s linear 2s forwards!important;
}

.spinner {
   position: relative;
   width: 50px; /* Adjust the size as needed */
   height: 50px; /* Adjust the size as needed */
   border-radius: 50%;
   border: 9px solid #7e292a;
   animation: spinner-bulqg1 0.8s infinite linear alternate,
             spinner-oaa3wk 1.6s infinite linear;
}

/* Additional styles to center the spinner within the overlay */
.overlay:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em; /* Adjust if needed */
}

.spinner:before {
   content: '';
   display: block;
   height: 100%;
   margin-top: -0.5em; /* Adjust if needed */
}
  
  @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
 
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
 
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
 
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
 }
 
 @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
 
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
 
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
 
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
 }
  