.searchbar {
    padding: 10px 10px;
    border-radius: var(--medium-border-radius);
    background-color: var(--text-color);
    border: none;
    color: var(--background-color);
}

/* searchbar placeholder color */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--header-color);
    font-weight: var(--normal-font-weight);
    font-family: var(--font-family);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--header-color);
    font-weight: var(--normal-font-weight);
    font-family: var(--font-family);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--header-color);
    font-weight: var(--normal-font-weight);
    font-family: var(--font-family);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--header-color);
    font-weight: var(--normal-font-weight);
    font-family: var(--font-family);
}

/*custom checkboxes*/
