div{
    font-family: 'Ubuntu', sans-serif!important;
    font-size: 18px;
    color: #dbe1f8;
    cursor: default;
}
.socbutton{
    width: 90%;
    margin: 5px 10px;
    padding: 20px;
    background-color: #7e292a;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    background-size: cover;
}

.socbutton:hover{
    background-color: #c57976;
    color: #601216;
}

.textblock{
    width: 90%;
    margin: 5px 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: #531718;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.FAQcont{
    width: 90%!important;
}

.donatello{
    background-image: url(https://i.imgur.com/IiV3zFX.png);
}

.monobank{
    background-image: url(https://i.imgur.com/yf4dyXh.png);
    
}

.BMC{
    background-image: url(https://i.imgur.com/ndC0Uek.png);
}

.mastodon{
    background-image: url(https://i.imgur.com/aJWusKA.png);
}

.instagram{
    background-image: url(https://i.imgur.com/cvSopep.png);
}

.bluesky{
    background-image: url(https://i.imgur.com/RuPcvx4.png);
}
.telegram{
    background-image: url(https://i.imgur.com/BIaAVfH.png);
}
.twitter{
    background-image: url(https://i.imgur.com/ebCkUVH.png);
}
.youtube{
    background-image: url(https://i.imgur.com/76B7jiN.png);
}