/* styles.css */


html {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1094%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(29%2c 27%2c 30%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c579.374C132.675%2c582.193%2c282.681%2c684.748%2c389.173%2c605.564C497.375%2c525.109%2c431.768%2c345.289%2c482.71%2c220.446C530.499%2c103.331%2c686.497%2c28.864%2c675.929%2c-97.184C665.434%2c-222.355%2c520.746%2c-285.341%2c432.784%2c-375.01C350.933%2c-458.449%2c287.44%2c-564.94%2c177.675%2c-605.105C64.819%2c-646.401%2c-60.128%2c-631.328%2c-175.465%2c-597.577C-290.876%2c-563.805%2c-405.547%2c-510.066%2c-477.178%2c-413.477C-546.693%2c-319.741%2c-536.762%2c-194.933%2c-559.024%2c-80.376C-582.625%2c41.071%2c-643.998%2c159.948%2c-611.826%2c279.411C-577.52%2c406.795%2c-497.142%2c531.177%2c-378.689%2c589.251C-262.966%2c645.987%2c-128.854%2c576.636%2c0%2c579.374' fill='%23131214'%3e%3c/path%3e%3cpath d='M1920 1626.1100000000001C2020.182 1615.431 2073.234 1504.6779999999999 2156.045 1447.2939999999999 2235.003 1392.5810000000001 2351.838 1382.743 2395.031 1296.939 2438.321 1210.943 2393.478 1108.997 2373.782 1014.756 2355.2889999999998 926.2719999999999 2331.556 841.515 2283.806 764.76 2229.118 676.852 2169.262 589.9780000000001 2078.5190000000002 540.135 1975.08 483.31899999999996 1852.025 429.74300000000005 1739.68 465.88800000000003 1627.593 501.95000000000005 1565.378 620.363 1508.5810000000001 723.504 1460.07 811.598 1462.675 913.049 1439.5430000000001 1010.921 1413.603 1120.674 1320.011 1230.062 1364.35 1333.757 1408.56 1437.149 1549.721 1448.961 1649.234 1501.32 1739.001 1548.551 1819.137 1636.862 1920 1626.1100000000001' fill='%23272429'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1094'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-color: #1d1b1e;
background-size: cover!important;
}
@media (max-width: 768px) {
    html{
        background-size: cover!important;
    }
    body {
        font-size: 16px;

        
    }
    .margin{
        margin-bottom: calc(+20%);
    }

    .header {
        padding-bottom: 20px;
    }

    .pc-only{
        display: none!important;
    }
    .mobile-only-visability{
        display: block!important; /* Показувати меню на мобільних пристроях */
    }
    .mobilecontainer {
        display: flex;
        flex-direction:row; /* Stack elements vertically */
        justify-content: center; /* Center-align elements vertically */
        align-items: center; /* Center-align elements horizontally */
    }

    #addbutton{
        height: calc(+20%);
        width: calc(+20%);
    }

    #searchbtn, #sharebtn, .home, .info{
        background-color: #131214!important;
        font-size: 17px!important;
    }
    #searchbtn:hover, #sharebtn:hover, .home:hover, .info:hover{
        box-shadow: none!important;
    }

    .search:hover, .share:hover, .home:hover, .info:hover{
        color:#929399!important;
    }


    .mobile-only {
        position: fixed; /* Фіксована позиція */
        bottom: -2px; /* Внизу екрану */
        left: 0; /* Лівий край екрану */
        background-color: #131214; /* Колір фону меню */
        width: 100%; /* 100% ширина екрану */
        padding: 10px 0; /* Відступи */
        text-align: center; /* Вирівнювання тексту по центру */
        z-index: 50; /* Вищий індекс ніж в інших елементів */
        color: white;
        box-shadow: 1px -8px 35px 20px rgba(0,0,0,0.10);
        -webkit-box-shadow: 1px -8px 35px 20px rgba(0,0,0,0.10);
        -moz-box-shadow: 1px -8px 35px 20px rgba(0,0,0,0.10);
        border-radius: 19px 19px 0px 0px;
        -webkit-border-radius: 19px 19px 0px 0px;
        -moz-border-radius: 19px 19px 0px 0px;
    }
    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px!important;
        margin-bottom: 40px;
        flex-wrap: wrap;



    .footer{
        height: 170px;
    }

}
}
@media (max-width: 443px){
    .search-container #searchbtn{
        width: 60px;
        height: 60px;
        margin: 20px 20px;

    }
    .searchbtn{
        width: 60px!important;
        height: 60px!important;
    }
}
.pc-only{
    display: block;
}

.tabs{
    margin: 0px!important;
}

.tabslayer2{
    display: flex!important;
}

.mobile-only-visability {
    display: none;
    }

body {
    justify-content: center;
    margin: 0;
    padding: 0;

}

#notcompleted{
    cursor: default;
}

.header {
    color: #dbe1f8;
    text-align: center;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column; /* Змінюємо напрямок розташування на стовбчик */
    align-items: center; /* Вирівнювання по вертикалі */
    font-family: 'Nunito', sans-serif;
}

.headertext{
    display:block;
    
}

.header .header-content {
    text-align: center; /* Вирівнювання тексту по центру */
}

.header img {
    max-width: 100px; /* Змініть розмір зображення за потреби */
    margin-right: 10px; /* Додайте відступ між зображенням і текстом */
}

.header h1 {
    font-size: 24px;
    margin: 0; /* Видаліть зовнішній відступ від заголовка */
}


.image{
    min-width: 200px;
    min-height: 200px;

}


.item {
    width: 250px;
    margin: 10px;
    padding: 10px;
    padding-top: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #2b2222;
    border-radius: 30px;
    position: relative;
    min-height: 520px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.28);


}
#verified{
    box-shadow:0px 0px 0px 3px #4e6d4a inset;
}



.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-size:cover;

}


.title {
    min-height: 48px;
    font-size: 20px;
    margin-top: 10px;
    color: #dbe1f8;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    min-height: 85px;
    min-width: 190px;
    font-size: 16px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 15px;
    background-color: #7e292a;
    font-family: 'Ubuntu', sans-serif;
    color: #dbe1f8;
    position: relative;
    cursor: default;
    display: inline-block;
    max-width: 250px;
    max-height: 125px;
    text-align: end;
}

.popup {
    cursor: default;
    
    display: none;
    position: absolute;
    background-color: #7e292a;
    color: #dbe1f8;
    padding: 20px;
    border-radius: 15px 15px 20px 20px;
    z-index: 2;
    width: 210px;
    max-height: none; /* Змінено на "none" замість "0" */
    overflow: hidden;
    white-space: normal;
    transition: max-height 0.3s, padding 0.3s;
    bottom: calc(23% + 2px);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.description, .popup{
    text-align: left;
    
}

.searchbtn{
    width: 60px;
    height: 60px;
}


.tabs {
    display: flex;
    justify-content: center; /* Ця властивість центрує елементи горизонтально */
}

.tab {
    background-color: #7e292a;
    color: #dbe1f8;
    border: none;
    padding: 30px 20px;
    border-radius: 30px;
    margin: 10px 10px;
}

.tab.active {
    background-color: #ffb3b0; /* Змініть на бажаний колір фону */
    color: #601216; /* Змініть на бажаний колір тексту */
    cursor: default;
}

.tab:hover:not(.active) {
    background-color: #c57976; /* Змініть на бажаний колір фону */
    color: #601216; /* Змініть на бажаний колір тексту */
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.42);
    cursor: pointer;
}

.author{
    color: #969aa8;
    text-align: center;
    opacity: 50%;
    margin-top: -10px;
    font-family: 'Noto Serif', serif;
}

.tab, #searchbtn, .addbutton, #show-more-button, .soc-button{
    font-size: 17px;
    font-family: 'Rubik', sans-serif!important;
    font-weight: 200!important;

}

.tab{
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translation-button {
    text-decoration: none;
    flex: 1;
    text-align: center;
    background-color: #7e292a;
    color: #dbe1f8;
    padding: 20px 10px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Додайте цей рядок для центрування тексту по горизонталі */
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.translation-button:hover {
    background-color: #c57976; /* Колір фону кнопки при наведенні */
    color: #601216; /* Колір тексту кнопки при наведенні */
}

.translation-icon {
    margin-right: 5px; /* Відстань між іконкою і текстом */
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.notcompleted{
    background: linear-gradient(135deg,
    rgba(126, 113, 41,.3)0%,
    rgba(126, 113, 41,.3) 25%,
    rgba(197, 186, 118,.3) 25%,
    rgba(197, 186, 118,.3) 50%,
    rgba(126, 113, 41,.3) 50%,
    rgba(126, 113, 41,.3) 75%,
    rgba(197, 186, 118,.3) 75%,
    rgba(197, 186, 118,.3) 100%);
}

.notcompleted:hover{
    background: linear-gradient(135deg,
    rgba(126, 113, 41,.3)0%,
    rgba(126, 113, 41,.3) 25%,
    rgba(197, 186, 118,.3) 25%,
    rgba(197, 186, 118,.3) 50%,
    rgba(126, 113, 41,.3) 50%,
    rgba(126, 113, 41,.3) 75%,
    rgba(197, 186, 118,.3) 75%,
    rgba(197, 186, 118,.3) 100%);

    color: white;
}


.footer {
    color: #dbe1f8;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    opacity: 40%;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;

}

.footer a {
    color: #dbe1f8;
    text-decoration: none;
    margin-left: 10px;
}

.footer a:hover {
    text-decoration: underline;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.custom-tooltip {
    position: absolute;
    background-color: #1d1b1e;
    color: #e6e6e6;
    padding: 15px;
    border-radius: 15px;
    z-index: 999;
    left: -50%;
    top: -10px;
    transform: translateX(-28%) translateY(-54%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}


.custom-tooltip .tooltip-content {
    /* Стилі для вмісту підказки */
    max-width: 200px; /* Обмежити ширину тексту до 200 пікселів */
    overflow: auto; /* Додати прокручування, якщо текст не поміщається */
    white-space: normal; /* Дозволити перенос тексту */
    word-wrap: break-word; /* Розділити слова, якщо вони не вміщаються */
}



.concon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; /* Змінюємо розміщення на згорнуту обгортку */
    justify-content: center;
}

.container-content {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

.div{
    display: flex;
    flex-wrap: wrap; /* Змінюємо розміщення на згорнуту обгортку */
    justify-content: center;
}

.div2{
    display:inline-block;
}

.divindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}



.spantranslate{
    font-size: 10px;
    position: absolute;
    bottom: calc(+25px);
}