.buttonsCont{
    display: flex;
    gap: 10px;
}

.addmore{
    background-color: rgba(127, 41, 43, 0);
    border: 2px solid var(--primary-color);; 
}

.ItemContainerInfo {
    align-items: center!important;
}