.NotCompletedTab{
    background: linear-gradient(135deg,
    rgba(126, 113, 41,.3)0%,
    rgba(126, 113, 41,.3) 25%,
    rgba(197, 186, 118,.3) 25%,
    rgba(197, 186, 118,.3) 50%,
    rgba(126, 113, 41,.3) 50%,
    rgba(126, 113, 41,.3) 75%,
    rgba(197, 186, 118,.3) 75%,
    rgba(197, 186, 118,.3) 100%);
}

.NotCompletedTab:hover:not(.active){
    background: linear-gradient(135deg,
    rgba(200, 113, 41,.3)0%,
    rgba(200, 113, 41,.3) 25%,
    rgba(197, 186, 118,.3) 25%,
    rgba(197, 186, 118,.3) 50%,
    rgba(200, 113, 41,.3) 50%,
    rgba(200, 113, 41,.3) 75%,
    rgba(197, 186, 118,.3) 75%,
    rgba(197, 186, 118,.3) 100%);
    color: white;
}

.NotCompletedTab active{
    background-color: #ffffff00;
    color: white;
    cursor: default;
}