p{
    min-height: 160px;
}

input{
    width: 100%;
    margin: 5px 0;
}

.addinputp, .edit-button, .site-linka{
    width: 70%!important;
    margin-left: 8px;
    background-color: #7e292a;
    border: none;
    border-radius: 10px;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    color: white;
}

input::placeholder{
    color:white;
}

.checks{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

input{
    margin-left: 8px;
    background-color: #7e292a;
    border: none;
    border-radius: 10px;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 3px 0;
}

.edit-button{
    margin-bottom: 20px;
}

.edit-button{
    padding: 20px 10px!important;
}

span{
    margin-bottom: 10px;
}

/* Звичайний стан посилань */
a {
    text-decoration: none; /* Вимкнути підкреслення тексту */
    color: white; /* Білий колір тексту */
}

/* Стан посилань при наведенні */
a:hover {
    text-decoration: none; /* Вимкнути підкреслення тексту при наведенні */
    color: white; /* Зберегти білий колір тексту при наведенні */
}
.site-link{
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.site-linka{
    display: flex;
}
.edit-button, .site-linka{
    width: 251px!important;
}

.editbuttons{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 10px;

}

.checks{
    margin: 5px 0;
}

.editbuttons button, .sorting{
    width: 100px!important;
    padding: 10px;
    margin: 5px;
    background-color:#7e292a;
    color: white;
    border: none;
    border-radius: 10px;
}

.smallicon{
    font-size: 30px!important;
}


.cancel-button:hover, .save-button:hover, .sorting:hover{
    background-color: #c57976;

}

.sortcont{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}