*{
    margin: 0;
    color: #b0bac5;

}

html{
    background-color: #16181c;
}

.container {
    display: flex;
    flex-direction: row;
}

.Items {
    width: calc(100vw - 320px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(268px, 290px));
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: #b0bac5;
}

.edit-btn{
    margin-top: 20px;
    margin-bottom: 25px;
}

.card{
    grid-template-rows: subgrid;
    grid-row: span 8;
    display: grid;
    
    flex-direction: column;
    width: 250px;
    padding: 5px;
    background-color: #26292f;
    border-radius: 0.5rem;
}

.description{
    height: 72px;
    overflow: hidden;
}

#editModal{
    display: none;
}

.modal-content {
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 100;
    background-color: #16181cb7;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainmodalcont{
    display: flex;
    flex-direction: column;
    height: 99%;
    align-items: center;
    justify-content: center;

}

#editCategories{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.EditCategoryItem{
    width: 170px;
    gap: 5px;
}

.EditCategoryItem label{
    margin-left: 5px;
}

input, .CreateForm input, #description, .editForm, #source, button[type=submit] {
    color: black;
}

.editForm {
    display: flex;
    background-color: #16181c;
    padding: 20px 10px;
    border-radius: 0.5rem;
    flex-direction: column;
    width: 520px;
    row-gap: 10px;
    position: relative;
    overflow:scroll;
    overflow-x: auto;
}

.editForm label{
    margin-top: 10px;
}

.editForm button[type=submit] {
    padding: 5px;
    width: 150px;
}

.editLinkSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px
}

.editLinkSection input{
    width: calc(50% - 25px);
}

.close{
    width: 25px;
    height: 25px;
    background-color: rgb(129, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 20px;
    margin-top: 1px;
}

#description{
    max-width: 290px;
}

#editDescription{
    min-height: 250px;
    max-width: 495px;
    color: black;
}

.first{
    min-width: 296.977px;
}

.CreateForm{
    position: fixed;
    overflow-y: scroll;
    height: 95%;
}

.modal-header{
    margin-top: 5px;
    display: flex;
}

.modal-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#websitesresult{
    width: 400px;
    min-height: 100%;
    height: 100%;
    background-color: red;
}

.card-image{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
}