<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/addtranslation.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet"></head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <div class="sortcont">
        <button class="sorting" id="sort-az-button"> <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Сортувати від А до Я</button>
        <button class="sorting" id="sort-za-button"> <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Сортувати від Я до А</button>
    </div>
        <div class="card-container">
            {% for card in data %}
            <div class="card" data-title="{{ card.title }}">
                <button class="delete-button"><i class="fa fa-trash" aria-hidden="true"></i> Видалити запис</button>
                <img class="imageitem" src="{{ card.image or 'https://i.ibb.co/wpwMCLY/default-image.png' }}" alt="немає зображення">
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p>
                <span class="ver">Офіційно: {{ 'Так' if card.verified else 'Ні' }}</span>
                <span class="ove">Завершено: {{ 'Так' if card.completed else 'Ні' }}</span>
                <span class="">Автор: <span class="author">{{ card.author or 'Команда СУМ'}}</span></span>
                <span class="site-link"> <a class="site-linka" href="{{card.link}}" target="_blank">Посилання: {{card.link|urlparse or 'немає' }}</a></span>
                <button class="edit-button buttonshow">Редагувати</button>
                <div class="form" style="display: none;">
                    <input type="text" placeholder="Новий заголовок" class="new-title">
                    <input type="text" placeholder="Новий опис" class="new-description">
                    <input type="text" placeholder="Нове зображення" class="new-image"> <!-- Додано поле для зображення -->
                    <input type="text" placeholder="Новий автор" class="new-author"> <!-- Додано поле для автора -->
                    <div class="checks">
                        <input type="checkbox" class="new-verified"> Офіційно
                    </div>
                    <div class="checks">
                        <input type="checkbox" class="new-completed"> Завершено
                    </div>
                    <input type="text" placeholder="Нове посилання" class="new-link"> <!-- Додано поле для посилання -->
                    <div class="editbuttons">
                        <button class="save-button">Зберегти</button>
                    <button class="cancel-button">Скасувати</button>
                </div>
                </div>
                
            </div>
            
            {% endfor %}
        </div>
        <div id="adddiv" class="adddiv modal">
            <div class="addbutttt">
                <button class="add-button"><i class="smallicon fa fa-plus-square" aria-hidden="true"></i></button>
            </div>
            <div class="addinput">
                <input class="addinputp" type="text" id="new-title" placeholder="Заголовок">
                <input class="addinputp" type="text" id="new-description" placeholder="Опис">
                <input class="addinputp" type="text" id="new-image" placeholder="Зображення (URL)">
                <input class="addinputp" type="text" id="new-author" placeholder="Автор">
                <input class="addinputp" type="text" id="new-link" placeholder="Посилання">
                <div class="checks">


                     
                </div>
                <div class="table-container">
                    <table class="tg">
                        <thead>
                          <tr>
                            <td class="tg-0lax">Офіційно</td>
                            <td class="tg-0lax"><input type="checkbox" id="new-verified"></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-0lax">Завершено</td>
                            <td class="tg-0lax"><input type="checkbox" id="new-completed"></td>
                          </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
               

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    </div>
</div>
</body>
</html>
